# Nom du projet Docker Compose
COMPOSE_PROJECT_NAME=

# Connexion à la base de données Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Orchestration Airflow
AIRFLOW_UID=
AIRFLOW_PORT=
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__API__SECRET_KEY=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=

# Tableau de bord Streamlit
STREAMLIT_PORT=
